ul {
  padding-left: 16px;
}

h1 {
  font-size: 1.8em;
}
html {
  scrollbar-gutter: stable;
}
body {
  background-color: floralwhite;
  color: darkslategrey;
  margin: auto;
  max-width: 768px;
  padding: 16px 32px;
  font-family: system-ui;
  font-size: larger; /* 1.2em */
  line-height: 1.6em;
}

.body-wrapper {
  min-height: 84vh;
}

.w-full {
  width: 100%;
}

a {
  color: green;
}

pre {
  padding: initial;
}

.p-4 {
  padding: 1rem;
}

.bg-grey {
  background-color: #dddddd;
}

.rounded {
  border-radius: 1rem;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.gap-2 {
  gap: 2rem;
}

.align-self-center {
  align-self: center;
}
.space-between {
  justify-content: space-between;
}

input {
  padding: 12px 16px;
  margin: 0 8px 8px 0;
  border-radius: 8px;
  border-width: 0;
}
button {
  padding: 12px 16px;
  background: green;
  color: white;
  border-radius: 8px;
  border-width: 0;
  cursor: pointer;
}

.destructive {
  background-color: red;
}

form:invalid button.disabled {
  background-color: grey;
}

footer {
  font-size: 0.8em;
}

hr {
  border: 1px green dashed;
  margin: 32px 0;
}

.reply-wrapper {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  transition: visibility 0s, opacity 0.25s ease-in-out,
    max-height 0.25s ease-in-out;
}
form:focus-within .reply-wrapper {
  visibility: visible;
  opacity: 1;
  max-height: 42px;
  transition: visibility 0s, opacity 0.25s ease-in-out 0.25s,
    max-height 0.5s ease-in-out;
}
/* NB: override focus-within to NOT show reply checkboxes for focused links */
form:has(a:focus) .reply-wrapper {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
}
