ul {
  padding-left: 16px;
}

h1 {
  font-size: 1.8em;
}
html {
  scrollbar-gutter: stable;
}
body {
  background-color: floralwhite;
  color: darkslategrey;
  margin: auto;
  max-width: 768px;
  padding: 16px;
  font-family: system-ui;
  font-size: larger; /* 1.2em */
  line-height: 1.6em;
}

a {
  color: green;
}

pre {
  padding: initial;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.gap-2 {
  gap: 2rem;
}

.align-self-center {
  align-self: center;
}
.space-between {
  justify-content: space-between;
}
