ul {
  padding-left: 16px;
}

h1 {
  font-size: 1.8em;
}
html {
  scrollbar-gutter: stable;
}
body {
  background-color: floralwhite;
  color: darkslategrey;
  margin: auto;
  max-width: 768px;
  padding: 16px 64px;
  font-family: system-ui;
  font-size: larger; /* 1.2em */
  line-height: 1.6em;
}

a {
  color: green;
}

pre {
  padding: initial;
}

.p-4 {
  padding: 1rem;
}

.bg-grey {
  background-color: #dddddd;
}

.rounded {
  border-radius: 1rem;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.gap-2 {
  gap: 2rem;
}

.align-self-center {
  align-self: center;
}
.space-between {
  justify-content: space-between;
}

input {
  padding: 12px 16px;
  margin: 0 8px 8px 0;
  border-radius: 8px;
  border-width: 0;
}
button {
  padding: 12px 16px;
  background: green;
  color: white;
  border-radius: 8px;
  border-width: 0;
  cursor: pointer;
}

.destructive {
  background-color: red;
}

form:invalid button.disabled {
  background-color: grey;
}
